<!doctype html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible" />
<title>通用后台页面</title>
<link rel="stylesheet" href="i/global.css"/>
</head>
<body>
<div id="page">

	<div id="section">
		
		<div id="main">
			<!-- crumbs{ -->
			<div id="crumbs">
				你的位置：<a href="#">菜单位置</a> &gt; 菜单位置 &gt; 菜单位置
			</div>
			<!-- }crumbs -->
            
              <!-- top-title{ -->
				<div class="top-title clearfix">
				<h2 class="clearfix">这是神马大菜单</h2>
				<p>我是注释我是注释我是注注释我是注释我是注释我是注释...</p>
				</div>
				<!-- }top-title -->
			
            
<!-- mod-form{ -->
<div class="status">

<ul>
<li><a href="">A. 菜单</a>
           <ul>
		    <li><span>服务器1：100%</span><span>菜单服务...</span></li>
			<li><span>服务器1：100%</span><span>菜单服务...</span></li>
			<li><span>服务器1：100%</span><span>菜单服务...</span></li>
			</ul>
</li>

<li><a href="">B. 菜单</a>
           <ul>
		    <li><span><a href="">服务器1：100%</a></span><span>菜单服务...</span></li>
			<li><span>服务器1：100%</span><span>菜单服务...</span><span>菜单服务...</span></li>
			<li><span>服务器1：100%</span><span>菜单服务...</span><span>菜单服务...</span></li>
			</ul>
</li>

<li><a href="">C. 菜单</a>
           <ul>
		    <li><span>服务器1：100%</span><span>菜单服务...</span><span>菜单服务...</span><span>菜单服务...</span></li>
			<li><span>服务器1：100%</span><span>菜单服务...</span><span>菜单服务...</span><span>菜单服务...</span></li>
			<li><span>服务器1：100%</span><span>菜单服务...</span><span>菜单服务...</span><span>菜单服务...</span></li>
			</ul>
</li>

</ul>







</div>			
<!-- }mod-form -->
	




	</div>
</div>
</div>
</body>
</html>
