@charset "utf-8";
/*!
 * FileName   : global.css
 * WebSite    :
 * Desc       :
 * Author     : junluo
 * Version    : 1.0.0_beta
 * LastChange : 2012-03-28T17:48:31
 * */
@import url(reset.min.css);
@import url(common.min.css);
/*
  基本
*/

html,body{height:100%;}
body{font:12px/1.5 tahoma,\5fae\8f6f\96c5\9ed1;color:#333;}
a{color:#0F87CC;}
a:hover{color:#F50;}

/*
 通用
*/
textarea{padding:5px;width:380px;line-height:24px;height:240px;vertical-align:top;border:1px #ccc inset;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#666;text-align:left;}

table{width:100%;}
th, td{border:1px solid #dddddd;vertical-align:middle;padding:8px;}
table table td{padding:0;border:0 none;line-height:20px;}
th{text-align:center;background:#EFF7FD;white-space:nowrap;line-height:28px;}
td a{display:inline-block;}
th a.btn-prev,
th a.btn-next{display:inline;margin:0 10px;font-weight:normal;}
th a.btn-prev{float:left;}
th a.btn-next{float:right;}

#filter{border:1px solid #CCC;}
#filter .filter{width:100px;text-align:center;border-right:1px solid #CCC;}
#filter td{border:0 none;line-height:20px;}
#filter input.text{padding:4px 5px;width:200px;color:#999;}
#filter select{padding:2px;}
#filter label{margin-right:10px;}
#filter label input{vertical-align:middle;margin-right:2px;}


/*!
 * 通用按钮
 * default
 * */
.ui-button{display:inline-block;height:26px;overflow:hidden;position:relative;text-align:center;vertical-align:middle;border:1px solid #2791CA;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;text-align:center;-moz-box-shadow:0 1px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2);box-shadow:0 1px 0 rgba(0,0,0,.2);background:#2EA1E0 url(../img/bgs_btn_v3.png) repeat-x 0 0;}
.ui-button a,
.ui-button button{display:inline-block;height:26px;line-height:24px;line-height:25px\9;=line-height:24px;-line-height:26px;font-size:14px;border:0 none;color:#FFF!important;text-decoration:none!important;background:transparent;text-shadow:1px 1px 0 rgba(0,0,0,.2);outline:0 none;font-family:\5fae\8f6f\96c5\9ed1;}
.ui-button a{padding:0 8px;}
.ui-button button{padding:0 5px 1px;padding:0 8px 4px\9;-line-height:24px;}
.ui-button.fwb button{=font-weight:700;}
.ui-button.fwb * button{=font-weight:inherit}
/*
 * large
 * large button 默认14px加粗
 * */
.ui-button-l{height:34px;}
.ui-button-l a,
.ui-button-l button{height:34px;padding:0 16px;line-height:32px;line-height:34px\9;=line-height:32px;-line-height:34px;font-weight:700;}
.ui-button-l button{padding:0 16px 1px;}
/* style2 */
.ui-button-s2{background:#EDEDED url(../img/bgs_btn_s2_v3.png) repeat-x 0 0;border-color:#A2A2A2;}
.ui-button-s2 a,
.ui-button-s2 button{color:#333!important;text-shadow:1px 1px 0 rgba(255,255,255,.8)!important;}
/* status */
.ui-button:hover,
.ui-button-hover{background-position:0 -34px;}
.ui-button-disabled{background-position:0 -68px!important;cursor:not-allowed;opacity:.8;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);zoom:1;}
.ui-button-disabled a,
.ui-button-disabled button{cursor:not-allowed;}
.ui-button a:active,
.ui-button button:active {text-shadow:-1px -1px 0 rgba(0,0,0,.3);}
.ui-button-s2 a:active,
.ui-button-s2 button:active {text-shadow:-1px -1px 0 rgba(0,0,0,.1)!important;}
/* button group */
.ui-button-group{display:inline-block;zoom:1;vertical-align:middle;padding-right:1px;}
.ui-button-group .ui-button{float:left;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;margin-right:-1px;}
.ui-button-group .ui-button:first-child {-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.ui-button-group .ui-button:last-child {-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;}
/* webkit hack */
@media all and (-webkit-min-device-pixel-ratio:1) {
    .ui-button a,
    .ui-button button{line-height:24px;padding:0 8px 3px;}
    .ui-button.fwb a,
    .ui-button.fwb button{line-height:26px;}
    .ui-button-l a,
    .ui-button-l button{line-height:34px;padding:0 16px 3px;}
    .ui-button a,
    .ui-button button,
    .ui-button-s2 a,
    .ui-button-s2 button{text-shadow:0 0 0 transparent,1px 1px 0 rgba(0,0,0,.2);}
}

/*!
 * 表单
 * default
 * */
.mod-form form{font-size:14px;}
.mod-form form div{zoom:1;clear:both;margin:10px 0;overflow:hidden;}
.mod-form form label{float:left;display:inline;margin-right:8px;width:70px;text-align:right;font-weight:700;height:36px;line-height:36px;}
.mod-form form input{float:left;display:inline;margin:0 8px 0 0;width:300px;padding:0 8px;height:34px;line-height:34px\9;border:1px solid #A2A2A2;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:url(bgs_form_v3.png) repeat-x 0 0;}
.mod-form form input:focus {outline:0 none;border-color:#A67F34;background-position:0 -34px;}
.mod-form form input.checking{border-color:#DABB22;background-position:0 -68px;}
.mod-form form input.error{border-color:#CD0303;background-position:0 -102px;}
.mod-form form p.tips{clear:both;padding-left:110px;line-height:20px;font-size:12px;color:#999;}
.mod-form form p.error{color:#C61B1B;}
.mod-form form i.checking{float:left;width:16px;height:16px;background:url(../img/icon_loading.gif) no-repeat 0 0;margin-top:10px;}
.mod-form form i.error{float:left;width:16px;height:16px;background:url(bgs_form_v3.png) no-repeat 0 -136px;margin-top:10px;}
.mod-form form i.success{float:left;width:16px;height:16px;background:url(bgs_form_v3.png) no-repeat 0 -152px;margin-top:10px;}
.mod-form form #check-code{width:80px;font-weight:bold;color:#444;letter-spacing:2px;}
.mod-form form span.code{display:inline-block; padding:4px; font:bold 14px Verdana; background:#AAA;color:#00F;vertical-align:middle;}
.mod-form form textarea{width:300px;border:1px solid #A2A2A2; padding:4px; vertical-align:top;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;resize:none;}
.mod-form form em{font-size:12px;margin:0 0 0 5px;color:#777;display:inline-block;padding:4px;}
.mod-form form em.true{font-weight:bold;color:#00B800; padding-left:18px; background:url(../img/true.png) no-repeat 0 5px;}
.mod-form form em.false{font-weight:bold;color:#F40;padding-left:18px; background:url(../img/false.png) no-repeat 0 5px;}
.mod-form form div.btns{padding-left:163px;}
.mod-form form select{border:1px solid #A2A2A2;background-color:#FFF;height:36px;padding:7px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

/*120330其他添加表单style*/
.mod-form form .check,.mod-form form .radio,.mod-form form .file { line-height:34px;}
.mod-form form .check input,.mod-form form .radio input{ float:none;display:inline;margin:0 4px 0 0px;width:auto;padding:0;height:auto;line-height:34px\9;border: none;background: none;}
.mod-form form .file input{ float:none;display:inline;margin:0 4px 0 0;padding:0;height:34px;line-height:34px\9;border:1px solid #A2A2A2;background:url(bgs_form_v3.png) repeat-x 0 0;}
.mod-form form .check div,.mod-form form .radio div,.mod-form form .file div{ float:left; clear:none; margin:0}
.mod-form form .file img{ margin-top:8px;}

/*!
 * 表单
 * small
 * */
.mod-form-s form{font-size:12px;}
.mod-form-s form div{zoom:1;clear:both;margin:10px 0;overflow:hidden;}
.mod-form-s form label{float:left;display:inline;margin-right:8px;width:100px;text-align:right;font-weight:400;height:26px;line-height:26px;}
.mod-form-s form input{float:left;display:inline;margin:0 8px 0 0;width:240px;padding:0 5px;height:24px;line-height:24px\9;border:1px solid #A2A2A2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:url(bgs_form_v3.png) repeat-x 0 0;}
.mod-form-s form input:focus {outline:0 none;border-color:#A67F34;background-position:0 -34px;}
.mod-form-s form input.checking{border-color:#DABB22;background-position:0 -68px;}
.mod-form-s form input.error{border-color:#CD0303;background-position:0 -102px;}
.mod-form-s form p.tips{clear:both;padding-left:110px;line-height:20px;font-size:12px;color:#999;}
.mod-form-s form p.error{color:#C61B1B;}
.mod-form-s form i.checking{float:left;width:16px;height:16px;background:url(../img/icon_loading.gif) no-repeat 0 0;margin-top:5px;}
.mod-form-s form i.error{float:left;width:16px;height:16px;background:url(bgs_form_v3.png) no-repeat 0 -136px;margin-top:5px;}
.mod-form-s form i.success{float:left;width:16px;height:16px;background:url(bgs_form_v3.png) no-repeat 0 -152px;margin-top:5px;}
.mod-form-s form #check-code{width:80px;font-weight:bold;color:#444;letter-spacing:2px;}
.mod-form-s form span.code{display:inline-block; padding:4px; font:bold 14px Verdana; background:#AAA;color:#00F;vertical-align:middle;}
.mod-form-s form textarea{width:300px;border:1px solid #A2A2A2; padding:4px; vertical-align:top;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:0;}
.mod-form-s form em{font-size:12px;margin:0 0 0 5px;color:#777;display:inline-block;padding:4px;}
.mod-form-s form em.true{font-weight:bold;color:#00B800; padding-left:18px; background:url(../img/true.png) no-repeat 0 5px;}
.mod-form-s form em.false{font-weight:bold;color:#F40;padding-left:18px; background:url(../img/false.png) no-repeat 0 5px;}
.mod-form-s form div.btns{padding-left:108px;}
.mod-form-s form select{border:1px solid #A2A2A2;background-color:#FFF;height:26px;padding:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}


/*!
 * 新分页码
 * 默认是水平居中，可以调样式实现左对齐或右对齐
 * */
.mod-page{overflow:hidden;display:inline-block;vertical-align:top;=display:inline;=zoom:1;=padding-bottom:2px; margin:15px 0}
.mod-page a{float:left;display:inline;white-space:nowrap;height:24px;line-height:24px;padding:0 8px;margin:2px;border:1px solid #D8D8D8;background:url(bgs_page_v3.png) repeat-x 0 -24px;color:#666;}
.mod-page .current{cursor:not-allowed;font-weight:bold;background-position:0 0!important;color:#FFF!important;border-color:#2791CA;}
.mod-page a:hover {text-decoration:none;border-color:#2791CA;color:#666;}
.mod-page a[rel=prev],
.mod-page a[rel=next]{font-family:serif;}
/*增加类round，页码非IE下实现圆角效果*/
.rounded a,.rounded ins input{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
/*增加子组件*/
.mod-page span{float:left;white-space:nowrap;height:26px;overflow:hidden;line-height:26px;margin:2px;color:#666;}
.mod-page ins span{margin:0 2px;}
.mod-page ins{float:left;white-space:nowrap;margin:2px 2px 0;background:none;}
.mod-page ins input{float:left;width:2em;height:18px;padding:3px 4px;=padding:4px 4px 2px;background:url(bgs_page_v3.png) repeat-x 0 -48px;border:1px solid #D8D8D8;}

/*
  布局
*/
#section{width:100%;zoom:1; }
#header{width:100%;height:60px;background-color:#0F87CC;color:#fff;}
#header h1{width:199px;height:60px;line-height:60px;font-size:16px;float:left;text-align:center;color:#fff;text-shadow:0 0 4px #000;}
#header .welcome{height:20px;line-height:20px;padding:10px 10px 0; text-align:right;}
#header .welcome b,#header .welcome a{margin:0 5px;color:#FF0;}
/* container */
#container{position:relative;font-size:14px;}
/* aside */
#aside{padding:10px 0px 0 0px;width:200px;background:url() repeat-y 0 0; float:left;overflow-y: auto; height:698px; }
#aside .title{font-size:18px;}
#aside .ad{  padding:0 10px 10px 15px;}
#menu li{padding-bottom:2px;line-height:24px; margin:4px 0 0 0;font-size:14px;font-weight:bold;}
#menu li li{padding:0 0 0 0px;font-weight:normal; text-indent:1em}
#menu li a{display:block;padding-left:15px;height:26px;text-decoration:none;color:#1b7fb8;}
#menu li li a{ height:22px;}
#menu li a:hover{ background:#c9ebff}
#menu li a.current{font-weight:900;color:#FFF;background:#3fa6e1;}
#menu li .on a{ color:#F30}

/* main */
#main{overflow:hidden;padding:10px 20px 20px 20px;font-size:14px; }
#main h1{margin-bottom:15px;height:32px;font-weight:bold;font-size:16px;line-height:32px;}
#main h1 button{font-weight:normal;vertical-align:middle;}
#main h1 span a{margin-left:10px;font-weight:normal;font-size:14px;}
#main .nav{width:100%;zoom:1;}
#main .nav a{float:left;display:inline-block;padding:0 10px;height:24px;line-height:24px;font-size:12px;border:1px solid #DDD;margin:0 10px 0 0;}
#main .nav a:hover {border-color:#0F87CC;color:#0F87CC;}
#main .nav a.current{background-color:#0F87CC;border-color:#0F87CC;color:#FFF!important;}
#main .top-title{ margin:10px 0 15px 0; position:relative;}
#main .top-title h2{font-size:16px; line-height:36px; }
#main .top-title p{font-size:12px; display:inline-block;  color:#666}
#main .top-title span{position: absolute; bottom:0; right:0}
#main .text-info span{float:left}
#main .text-info .time{float:right;}
#main .text{border: solid 1px #ccc;padding:15px;padding-top:5px;}
#main .text p{ line-height:20px;margin-top:10px;text-indent:2em;}
#main .status table th{ text-align:left; background:#82c0e4; color:#FFF;}
#main .status table th{ border:solid 1px #fff;}
#main .status table .text{ padding:2px 3px;}
#main .status table .even{ background:#f9feff} 
#main .status table .img{text-align:center}
#main .status table .img img{display:inline;}
#main .status table .delete{ line-height:62px;}
#main .status ul li li{ text-indent:2em}
#main .status ul li ul{ margin-bottom:10px;} 
#main .status ul li li span{ margin-right:15px;}

#crumbs{height:24px;line-height:14px;font-size:12px;font-family:\5b8b\4f53;}
.red{color:#f00;}
.green{color:#3c0;}
.purple{color:#F0C;}
.yellow{color:#FC0;}
.gray{ color:#999}


/*!
 * 图文列表
 * */
.mod-pic-txt{zoom:1;overflow:hidden;position:relative;padding:0 20px;}
.mod-pic-txt li{overflow:hidden;padding:20px 0;border-bottom:1px solid #CCC;}
.mod-pic-txt .pic{float:left;margin-right:10px;}
.mod-pic-txt img{width:130px;height:90px;border:1px solid #D8D8D8;}
/* 去掉.info的定义可以实现文字围绕图片效果 */
.mod-pic-txt .info{overflow:hidden;zoom:1;}
.mod-pic-txt h4{overflow:hidden;font-size:14px;height:30px;line-height:26px;}
.mod-pic-txt p{line-height:20px;}
.mod-pic-txt a.more{color:#0082C3;}
.mod-pic-txt a:hover {background-color:transparent;}
.mod-pic-txt a:hover img{border-color:#999}
/* 图片居右 */
.mod-pic-txt a.fr{margin-right:0;margin-left:10px;}

/*!
 * 弹出层
 * 依赖于盒子样式
 * */
.pop-box{zoom:1;padding:6px;background-color:transparent;background-color:rgba(0,0,0,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
:root .pop-box{filter:none;}
.pop-box .box{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border-color:#B0B0B0;}
.pop-box .box .box-hd{-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;border-color:#2792CA;background-position:0 -30px;}
.pop-box .box .box-hd h3{color:#FFF;}
.pop-box .box .box-act .btn-close{color:#FFF;}
.pop-box .box .box-act .btn-close-icon{float:right;cursor:pointer;margin-top:8px;width:16px;height:16px;font-size:16px;font-weight:700;line-height:14px;color:#FFF;text-shadow:0 1px 0 #FFF;text-align:right;text-decoration:none;}

/*!
 * 盒子设置
 * 只管自身和其子元件的表现，无侵入性，不影响其内部内容模块
 * */
.box{zoom:1;position:relative;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#FFF;border:1px solid #D8D8D8;}
/* .box设置relative，.box-bd设置overflow:hidden，.box-bd的子元素可以相对于.box这个祖先元素absolute定位，而不被.box-bd隐藏 */
/* 盒子子元件 */
.box .box-hd{overflow:hidden;position:relative;padding:0 10px;margin:-1px -1px 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;background:url(bgs_box_v3.png) repeat-x 0 0;height:30px;line-height:30px;border:1px solid #D8D8D8;}
.box .box-hd .icon{float:left;width:16px;height:16px;margin:7px 8px 0 0;background-color:#3c6;}
.box .box-hd .title{float:left;margin-right:10px;font-size:14px;}
.box .box-act{float:right;}
.box .box-act .links{float:right;overflow:hidden;display:inline;margin-right:-6px;height:16px;margin-top:9px;}
.box .box-act .links a{float:left;display:inline;white-space:nowrap;line-height:16px;padding:0 5px 0 0;margin:-2px -1px 0 6px;border-right:1px solid #999;}
.box .box-act .more{float:right;margin-left:10px;}
.box .box-act .btn-close{float:right;}
.box .box-bd{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

/*!
 * Message
 * default
 * */
.mod-msg{zoom:1;clear:both;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:10px 0;padding:6px 24px 6px 26px;line-height:18px;}
.msg-error{border:1px solid #FF8080;background-color:#FFF2F2;}
.msg-warn{border:1px solid #FF8080;background-color:#FFF2F2;}
.msg-alert{border:1px solid #FF8C40;background-color:#FFF5E6;}
.msg-attention{border:1px solid #40B3FF;background-color:#E6F5FF;}
.msg-tips{border:1px solid #FFCC7F;background-color:#FFFFE5;}
.msg-success{border:1px solid #4DBF00;background-color:#F0FFE5;}
.msg-notice{border:1px solid #40BEFF;background-color:#E6F5FF;}
.msg-question{border:1px solid #BFBFBF;background-color:#F2F2F2;}
.mod-msg .icon{display:block;width:16px;height:16px;overflow:hidden;text-indent:-9999px;position:absolute;top:7px;left:5px;background:url(../img/bgs_msg_v3.png) no-repeat 0 0;}
.mod-msg .btn-close{position:absolute;top:7px;left:5px;font-size:16px;font-weight:700;color:#666;text-align:right;text-decoration:none;line-height:1;}
.msg-error .icon{background-position:0 0;}
.msg-warn .icon{background-position:0 -16px;}
.msg-alert .icon{background-position:0 -32px;}
.msg-attention .icon{background-position:0 -48px;}
.msg-tips .icon{background-position:0 -64px;}
.msg-success .icon{background-position:0 -80px;}
.msg-notice .icon{background-position:0 -96px;}
.msg-question .icon{background-position:0 -112px;}
.mod-msg .btn-close{cursor:pointer;left:auto;right:4px;background-position:-16px 0;}
.msg-naked{background-color:transparent!important;border:0 none!important;}

/*!
 * Message
 * large
 * */
.msg-success-l,
.msg-attention-l,
.msg-question-l,
.msg-warn-l,
.msg-error-l{padding:4px 5px 4px 50px;line-height:20px;}
.msg-success-l .icon,
.msg-attention-l .icon,
.msg-question-l .icon,
.msg-warn-l .icon,
.msg-error-l .icon{width:36px;height:36px;top:6px;background:url(bgs_msg_v3.png) no-repeat -32px -144px;}
.msg-success-l .icon{background-position:-32px -72px;}
.msg-attention-l .icon{background-position:-32px 0;}
.msg-question-l .icon{background-position:-32px -36px;}
.msg-warn-l .icon{background-position:-32px -108px;}


